<div class="home">
  <div class="aside">
    <form>
      <h2>Registration Form</h2>
      <div>
        <label>Full Names</label>
        <input type="text" name="full_name">
        <label>Email</label>
        <input type="email" name="email">
      </div>
      <div>
        <label>Username</label>
        <input type="text" name="username">
        <label>Phone Number</label>
        <input type="tel" name="phone_number">
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password">
        <label>Confirm Password</label>
        <input type="password" name="c_password">  
      </div>
      <div>
        <label>Nothing</label>
        <input type="text" name="nothing">
        <label>ID Card Number</label>
        <input type="number" name="id_card_number">
      </div>
      <div>
        <label>Role</label>
        <select name="role">
          <option>Police</option>
          <option>Judge</option>
          <option>Commissioner</option>
          <option>State Council</option>
          <option>Gendarme</option>
          <option>Arbitre</option>
        </select>
        <label>Station</label>
        <select name="station">
          <option>Kumbo</option>
          <option>Nkambe</option>
          <option>Jakiri</option>
          <option>Francina</option>
          <option>Ndu</option>
          <option>Ndop</option>
        </select>
      </div>
      <div>
        <button type="submit">Create Account</button>
      </div>    
    </form>
  </div>
  <div class="site-info">
    <h1>237Security is the online Portal for the Cameroonian Security Service</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p>
    <button>
      <a href="#">Leave a suggestion</a>
    </button>
  </div>
</div>
